<!DOCTYPE html>
<html lang="en">
<head>

    <title>{% block title %}My Website {% endblock %}</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 20px;
        }
        header {
            background:#333;
            color: white;
            padding: 10px;
        }
        footer {
            background:#e0f901;
            margin-top: 20px;
            padding: 10px;
        }
    </style>
</head>
<body>
    <header>
        <h2>My site</h2>
        <nav>
            <a href="/">Home</a> |
            <a href="/about">About</a>
        </nav>
    </header>
     {% block content %} 
     
     {% endblock %}

    <footer>
        <p>@2024 My Flask Website</p>
    </footer>
    
</body>
</html>